* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

/* banner */

#Layer_1 {
    position: absolute;
    top: 70px;
    left: 30px;
    width: 35%;
    z-index: -1;
}

.top-bilde {
    width: 500px;
    border-left: solid lightgray 2px;
    

}

.flexbox-dos {
    display: flex;
    justify-content: flex-end;
    width: 1000px;
}

.flex-container-top {
    display: grid;
    width: 1000px;
    margin: 0 auto;
    grid-template-columns: 1000px;
    grid-template-rows: 150px 400px;
}

.flex-box-uno {
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.main-headline {
    font-size: 3.5rem;
    

}



/* poster på siden */

.flexcontainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 250px;
    right: 0; 
}

.photo {
    width: 100px;
}

.Latestpost {
    display: flex;
    margin-bottom: 10px;
    font-weight: bold;
}

/*test*/

.flx{
    display: flex;
    align-items: center;
}

.small-margin {
    margin-left: 5px;
}

/* Colors */

.green {
    color: green;
}

.red {
    color: red;
}

.gold {
    color: gold; 
}

.grå {
    color: grey;
}

.blue {
    color: rgb(22, 33, 74);
}

/* Header */

.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
}

.logobox-header {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-wrapper {
    width: auto;
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 50px;
}

.header-navigation-box {
    display: flex;
    list-style: none;
}

.header-navigation-links {
    padding-left: 70px;
}

/* main boxes */

.wrapper-around-main-boxes {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.first-box {
    width: auto;
    display: grid;
    grid-template-areas: 
                         "test test test test"
                         "one two three four"
                         "zero zero zero zero";
    height: auto;
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 29px 1px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 29px 1px rgba(143,143,143,1);
    box-shadow: 0px 0px 29px 1px rgba(143,143,143,1);
    position: relative;
    border-radius: 0px;
}

.primero {
    background-color: white;
}

/* second box */



/* Chambers in boxes */


.chamber-one, .chamber-two, .chamber-three, .chamber-four {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.chamber-zero {
    position: relative;
    width: 100%;
    grid-area: zero;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    -webkit-box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);

}

.test {
    position: relative;
    width: 100%;
    grid-area: test;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: rgb(22, 33, 74) 1px solid;


}

.chamber-one {
    grid-area: one;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.chamber-two {
    grid-area: two;
    align-items: center;
    justify-content: center;
    position: relative;
   
}

.chamber-three {
    grid-area: three;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.chamber-four {
    grid-area: four;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

/* Dropdowns from main boxes */

.dropdown-first-box {
    width: auto;
    max-width: 1000px;
    height: 600px;
    display: none;
    border-left: solid lightgray 1px;
    border-right: solid lightgray 1px;
    border-bottom: solid lightgray 1px;
}

.dropdown-first-box-content {
    padding: 20px;
}

.overskrift-i-dropdownbox {
    text-align: center;
    margin-top: 30px;
}

/* Content in chamber one */



/* Content in chamber zero */



.box-headline {
    font-size: 1.1rem;    
}

.star-container {
    display: flex;
    margin-left: 10px;
    color: gold;
    font-size: 1.2rem; 
}

.our-rating {
    font-weight: bold;
    color: black;
}

.our-rating2 {
    font-weight: bold;
    color: black;
    margin-left: 10px;
}

.rangering {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-bottom-right-radius: 20px;
    background-color:  rgb(22, 33, 74) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    border-top-left-radius: 0px;
    z-index: 1;   
}

.rango {
    background-color:  rgb(22, 33, 74) ;
}



/* Content in chamber two */

.keyfacts {
    font-weight: bold;
    position: absolute;
    top: 25px;
    color: rgb(22, 33, 74);
}

.keyfacts-container {
    display: flex;
    margin-top: 10px;
}

.symbol-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.margino {
    margin-top: 10px;
    color: purple;
}

.margino2 {
    margin-top: 10px;
    color: green;
}

.margino3 {
    margin-top: 10px;
    color: red;
}

.text-container {
    margin-left: 10px;
}

.text-thing-one {
    margin-top: 10px;
}

.text-thing-two {
    margin-top: 8px;
}

.text-thing-three {
    margin-top: 8px;
}

.text-thing-four {
    margin-top: 8px;
}

/* Content in chamber three */


.snippet {
    color: rgb(4, 4, 96);
   
    margin-left: 20px;
    margin-right: 20px;
}




/* content in fourth chamber */


.fill {
    position: absolute;
    top: 70px;
}


.arrow1 {
    font-size: 20px;
    margin-left: 5px;
    margin-top: 2px;
}

.buttons-chamber4 {
    text-decoration: none;
    color: white;
    background-color: #ff3547;
    padding: 10px;
    width: 200px;
    height: 50px;
    -webkit-box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.buttons-chamber4:hover {
    background-color: rgb(255, 209, 209);
}

.showDropdownFirstBox {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 13px;
    position: absolute;
    bottom: 65px;
    cursor: pointer;  
}

/* Second box */

.zero{
   
    -webkit-box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    border-bottom: solid 1px lightgray;
   }

.cj {
    color: black;
}
   
.underline {
    text-decoration: underline;
}

.bino {
    margin-right: 5px;
}

/* Toggle classes */
    
.rotate {
    transform: rotate(180deg);
}

.show {
    display: block;
}

/* Picture under main boxes */

.flexify {
    display: flex;
    position: relative;
    justify-content: center;
    transition: 1s;
    margin-top: 100px;
    margin-bottom: 200px;
}

.image {
    width: 700px;
}


.skrift-over-bilde {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px;
    background-color: white;
    color: gray;
    padding: 10px;
    border: solid 1px;
}

#grad1 {
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.section1 {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: #E4EFFF;
}

/* media quieries */

