* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

/* Landingpage /*

/* banner */

#Layer_1 {
    position: absolute;
    top: 70px;
    left: 30px;
    width: 35%;
    z-index: -1;
}

.boxy2 {
    border-right: solid lightblue;
}

.boxy86 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    color: black;
}

.abso {
    font-weight: bold;
    font-size: 3rem;
    color: rgb(22, 33, 74);
}

.top-bilde {
    width: 500px;
    border-left: solid lightgray 2px;
}

.size {
    font-size: 3rem;
    color: rgb(35, 35, 122);
    margin-bottom: 10px;
}

.flexbox-dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    grid-area: two;
    
}

.flexbox-three {
    display: flex;
    justify-content: center;
    width: 500px;
    grid-area: three;
}

.flex-container-top {
    display: grid;
    width: 1000px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 500 500px;
    grid-template-rows: 150px 400px;
    grid-template-areas: "one one"
                         "two three";
}

.flexbox-uno {
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    grid-area: one;
}

.main-headline {
    font-size: 3.5rem;
    color: black;
}

.under-main-headline {
    color: rgb(22, 33, 74);
    margin-top: 5px;
}

.flex-in-flex1 {
    display: flex;
    width: 400px;
    height: 250px;
    justify-content: space-between;
    align-items: center;
}

.flex-in-flex2 {
    display: flex;
    width: 500px;
    height: 50px;
    align-self: start;
    justify-content: center;
}

.flexo1, .flexo2, .flexo3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Aside */

.flexcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 300px;
    top: 240px;
    right: 10px;
}

.item1 {
    display: flex;
    align-items: center;
    width: 300px;
    height: auto;
    border-left: solid lightgray 1px;
    border-top: solid lightgray 1px;
    border-right: solid lightgray 1px;
    color: rgb(78, 78, 78);
    text-align: center;
    background-color: white;   
}

.søster {
    
    border-bottom: lightgray solid 2px;
}

.jon {
    margin-left: 10px;
}

.sidething {
    position: fixed;
    right: 10px;
    top: 490px;
    width: 300px;
    height: 350px;
    border-left: solid lightgray 1px;
    border-right: solid lightgray 1px;
    border-top: solid lightgray 1px;
    border-bottom: solid rgb(22, 33, 74) 10px;
    display: flex;
    justify-content: center;
    background-color: white;
    bottom: 1000;
}

.textus {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    color: rgb(22, 33, 74);
    text-decoration: underline;
}

.flexcontainer:hover {
    cursor: pointer;
}

.jon:hover {
    margin-left: 13px;
    color: blue;
}

.thing {
    height: 50px;
    width: 2px;
    background-color: white;
}

.image-boxus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-wix {
    width: 200px;
    height: 40px;
    background-color: #246ee6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}

.button-wix:hover {
    background-color: #c6cfde;
}

/*test*/

.flx{
    display: flex;
    align-items: center;
}

.small-margin {
    margin-left: 5px;
}

/* Colors */

.green {
    color: green;
}

.red {
    color: red;
}

.gold {
    color: gold; 
}

.grå {
    color: grey;
}

.blue {
    color: rgb(22, 33, 74);
}

.blue1 {
    color: blue;
}

/* Header */

.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.one {
    margin-top: 0px;
}

.logobox-header {
    width: auto;
    height: 50px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: rgb(22, 33, 74);
}

.navigation-wrapper {
    width: auto;
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 50px;
}

.header-navigation-box {
    display: flex;
    list-style: none;
}

.header-navigation-links {
    padding-left: 70px;
}

/* main boxes */

.wrapper-around-main-boxes {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.first-box {
    width: auto;
    display: grid;
    grid-template-areas: 
                         "test test test test"
                         "one two three four"
                         "zero zero zero zero";
    height: auto;
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 29px 1px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 29px 1px rgba(143,143,143,1);
    box-shadow: 0px 0px 29px 1px rgba(143,143,143,1);
    position: relative;
    border-radius: 0px;
    
}

.primero {
    background-color: white;
    
}

.chamber-one, .chamber-two, .chamber-three, .chamber-four {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.chamber-zero {
    position: relative;
    width: 100%;
    grid-area: zero;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    -webkit-box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
}

.test {
    position: relative;
    width: 100%;
    grid-area: test;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: rgb(22, 33, 74) 1px solid;
}

.chamber-one {
    grid-area: one;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.chamber-two {
    grid-area: two;
    align-items: center;
    justify-content: center;
    position: relative; 
}

.chamber-three {
    grid-area: three;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
}

.chamber-four {
    grid-area: four;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.box-headline {
    font-size: 1.1rem;    
}

.star-container {
    display: flex;
    margin-left: 10px;
    color: gold;
    font-size: 1.2rem; 
}

.our-rating {
    font-weight: bold;
    color: black;
}

.our-rating2 {
    font-weight: bold;
    color: black;
    margin-left: 10px;
}

.rangering {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-bottom-right-radius: 20px;
    background-color:  rgb(22, 33, 74) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
    border-top-left-radius: 0px;
    z-index: 1;   
}

.the-one {
    background-color: #7B51F3;
}

.rango {
    background-color:  rgb(22, 33, 74) ;
}

.keyfacts {
    font-weight: bold;
    position: absolute;
    top: 25px;
    color: rgb(22, 33, 74);
}

.keyfacts-container {
    display: flex;
}

.symbol-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5px;
}

.margino {
    margin-top: 10px;
    color: rgb(22, 33, 74);
}

.margino2 {
    margin-top: 10px;
    color: green;
}

.margino3 {
    margin-top: 10px;
    color: red;
}

.margino4 {
    margin-top: 10px;
    color: purple;
}

.text-container {
    margin-left: 10px;
}

.text-thing-one {
    margin-top: 10px;
}

.text-thing-two {
    margin-top: 8px;
}

.text-thing-three {
    margin-top: 8px;
}

.text-thing-four {
    margin-top: 8px;
}

.snippet {
    color: rgb(4, 4, 96);
    margin-left: 20px;
    margin-right: 20px;
}

.fill {
    position: absolute;
    top: 60px;
}

.buttons-chamber4 {
    text-decoration: none;
    color: white;
    background-color: #f37a33;
    padding: 10px;
    width: 200px;
    height: 50px;
    -webkit-box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.buttons-chamber4:hover {
    background-color: rgb(255, 209, 209);
}

.zero{
   
    -webkit-box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    -moz-box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    box-shadow: 0px 0px 23px -9px rgba(143,143,143,1);
    border-bottom: solid 1px lightgray;
   }

.cj {
    color: black;
}
   
.underline {
    text-decoration: underline;
    margin-top: 10px;
}

.bino {
    margin-right: 5px;
}

.think2 {
    margin-top: 50px;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "en to";
}

.textyz2 {
    padding-right: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.take-it {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    color: #00008B;
}

.text-mes {
    margin-top: 20px;
}

.texe {
    margin-top: 5px;
}

/* Toggle classes */
    
.rotate {
    transform: rotate(180deg);
}

.show {
    display: block;
}

.black1 {
    color: #7B51F3;
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 300px;
    background-color: white;
    z-index: -1;
}

.award {
    position: absolute;
    right: 10px;
    color: blue;
}

.award2 {
    position: absolute;
    right: 10px;
    color: rgb(4, 4, 96);
}

.paddy {
    padding-right: 3px;
    font-size: 1.7rem;
}

.colore {
    margin-right: 20px;
}


/* Table på landingsside */

.headline5 {
    text-align: center;
    color: #00008B;
    font-size: 1.7rem;
    margin-bottom: 0px;
    margin-top: 60px;
    }

    .table {
    margin: 0 auto;
    width: 1000px;
    max-width: 1200px;
    height: 900px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-collapse: collapse;  
    margin-top: 50px;
    text-align: center;
    margin-bottom: 0px;
    }
        
    tr, td, th {
    border: solid lightgray 1px;    
    }
        
    th, tr, td {
    font-size: 1rem;
    }
        
    .tablerow {
    font-size: 1rem;
    width: 70px;
    background-color:rgb(243, 122, 51);  
    }

    .button-table {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
    }

/* Table ferdig */

/* Landing-page done */

    
    .tres-amigo {
    width: 80%;
    margin-top: 70px;
    line-height: 1.5;
    }

    .review-box2 {
        width: auto;
        grid-area: en;
    }
    
    .color2 {
        background-color: #7B51F3;
    }

/* wix-review start */

#Layer_2 {
    position: absolute;
    top: 0;
    z-index: -2;
    width: 800px;
}

.missioncomplete {
   width: 1060px;
   margin: 20px auto 20px;
}

.howdy {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.numbers {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}

.bilete {
    width: 500px;
    grid-area: en;
}

.flex-container-1337 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.aside-review-thing {
    position: fixed;
    right: 10px;
    width: 150px;
    height: 355px;
    border: solid lightgray 1px;
    background-color: white;
    margin-top: 70px;
}

.mindre {
    font-size: 0.8rem;
    margin-top: 2px;
}

.boxy1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: to;
    height: auto;
    border-right: 1px solid lightgrey;
}

.size2 {
    font-size: 1.3rem;
}

.flex1337 {
  display: grid;
  grid-template-columns: 1fr 30px 250px 30px 250px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "en . tre . to"
                       "fire fem fem . to"                 ;
}

.headline-wix-review {
    margin-top: 100px;
    text-align: center;
    font-size: 3rem;
}

.stats-hidden {
    width: 360px;
    height: 255px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
}

.stats {
    width: 250px;
    height: 510px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-area: to;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats0 {
    grid-area: fire;
    position: relative;
    width: 360px;
    height: auto;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stats5 {
    grid-area: fem;
    margin-right: 105px;
}

.stats2 {
    width: 250px;
    height: 220px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-area: tre;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-box1337 {
    display: flex;
    justify-content: center;  
}

.colore {
    color: #7B51F3;
    font-weight: bold;
}

.star-main-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}

.boks1337 {
    margin-left: 10px;
    margin-top: 10px;
    border-right: solid lightgray 1px;
}

.rating-container {
    margin-left: 10px;
    margin-top: 10px;
    border-left: solid lightgray 1px;
}

.star-container-review {
    display: flex;
}

.content1337-0 {
    margin-top: 0px;
    margin-right: 15px;
}

.content1337-1 {
    margin-top: 8px;
    margin-right: 15px;
}

.content1337-2 {
    margin-top: 8px;
    margin-right: 15px;
}

.content1337-3 {
    margin-top: 8px;
    margin-right: 15px;
}
.content1337-4 {
    margin-top: 8px;
    margin-right: 15px;
}

.content1337-5 {
    margin-top: 8px;
    margin-right: 15px;
}

.content1337-6 {
    margin-top: 8px;
    margin-right: 15px;
}

.content1337-7 {
    margin-top: 9px;
    margin-right: 15px;
}

.total1337 {
    margin-top: 9px;
    color: blue;
    font-weight: bold;
    font-size: 20px;
}

.starry {
    font-size: 16px;
    margin-bottom: 10px;
    color: gold;
}

.starry2 {
    color: blue;
    margin-top: 1px;
    font-size: 18px;
}

.ray {
    margin-left: 15px;
    margin-bottom: 8px;
    margin-right: 15px;
    font-weight: bold;
}

.ray2 {
    margin-left: 15px;
    margin-top: 9px;
    margin-right: 15px;
    font-weight: bold;
    font-size: 18px;
    color: blue;
}

.wix-container-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttoni {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #f37a33;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: 8px 10px 13px -7px rgba(163,160,163,1);
    -moz-box-shadow: 8px 10px 13px -7px rgba(163,160,163,1);
    box-shadow: 8px 10px 13px -7px rgba(163,160,163,1);
}

.buttoni2 {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: #f37a33;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: 8px 10px 13px -7px rgba(163,160,163,1);
    -moz-box-shadow: 8px 10px 13px -7px rgba(163,160,163,1);
    box-shadow: 8px 10px 13px -7px rgba(163,160,163,1);
}

.buttoni:hover {
    background-color: #f6d6c3;
}

.styling {
    font-weight: bold;
    text-decoration: underline;
    margin-top: 10px;
}

.text-container-reviews {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.flex-thingo {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
  
}

.inside-beholder {
   
    width: 240px;
    font-size: 1rem;
}

.flex-thingo2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    
}

.color1 {
    background-color: #f8f8ff;
}

.color-head {
    color: rgb(22, 33, 74);
}

.beholder {
    width: 1060px;
    height: auto;
    display: flex;
    justify-content: space-between;
    color: grey;
    font-weight: bold;

}

.beholder2 {
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;
   
}

.flexy-border {
    display: flex;
    justify-content: center;
}

.line89 {
    margin-top: 50px;
    width: 1060px;
    border: solid 1px lightgray;
}

.line90 {
    margin-top: 50px;
    width: 800px;
    border: solid 1px lightgray;
}

.grey1 {
    font-style: italic;
    color: grey;
    font-size: 14px;
    margin-bottom: 6px;
    margin-top: 3px;
}

.footer-wrapper {
    height: 500px;
    width: 100%;
    background-color: #f6f6ff;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.margs {
    margin-left: 5px;
    margin-top: 12px;
    line-height: 25px;
}

.footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 40px;
  grid-template-areas: "one two three"
                       "four four four";
  width: 1000px;
 
  margin: 50px 20px 20px 20px;
  
}

.footer-element-1 {
   
    width: 100%;
    height: 100%;
    grid-area: one;
    flex-direction: column;
    display: flex;
    align-items: start;
}

.rows {
    display: flex;
    flex-direction: row;
}

.rows2 {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-top: 10px;
}

.tempo {
    margin-right: 10px;
}

.midtstill {
    display: flex;
    height: 50px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.footer-element-2 {
  
    width: 100%;
    height: 100%;
    grid-area: two;
    display: flex;
    justify-content: flex-end;
}

.footer-element-3 {
  
    width: 100%;
    height: 100%;
    grid-area: three;
    display: flex;
    justify-content: center;
}

.footer-element-4 {
    
    width: 100%;
    height: 100%;
    grid-area: four;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topp-li {
    font-weight: bold;
    margin-bottom: 9px;
    padding-top: 5px;
}

.unor-list {
    list-style: none;
    line-height: 35px;
}

.the-leader {
    width: 300px;   
}

.black {
    color: white;
}

.wrapper-1060 {
    display: flex;
    justify-content: center;
}

.think {
    margin-top: 50px;
    width: 1060px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.review-box {
    width: auto;
}

.textyz {
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 500px;
}

.wrapper-text-thing {
    width: 1000px;
}

.wrappituss {
    display: flex;
    justify-content: center;
}

.cta-thing {
    height: 100px;
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    border-top: solid lightgray 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.inside-cta-thing {
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
}

.wix-svg {
    width: 50px;
}

.item1-cta, .item2-cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item3-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.marg12 {
    margin-right: 10px;
    font-size: 1.3rem;
}

/* media quieries */

@media only screen and (max-width: 1660px) {
    
    /* Landing page */
    
    .flex-container-top {
        margin-left: 200px;
    }

    .wrapper-around-main-boxes {
        align-items: flex-start;
    }

    .wrapper-1060 {
        justify-content: start;
        margin-left: 200px; 
    }

    .missioncomplete {
        margin-left: 200px;
    }

    .first-box {
        margin-left: 200px;
    }

    .table {
        margin-left: 200px;
    }

    .section1 {
        display: flex;
        justify-content: start;
        margin-left: 200px;
    }

   .flex-thingo {
       justify-content: start;
       padding-left: 200px;
   }

   .footer-wrapper {
       justify-content: start;
   }

   .footer {
    margin-left: 200px;
   }

    /* review page */

    .flex-container-1337 {
        justify-content: start;
        margin-left: 200px;
    }

    .wrappituss {
        justify-content: start;
        margin-left: 200px;
    }

}

@media only screen and (max-width: 1538px) {

  /* Landing page */

    .flex-container-top {
        margin-left: 100px;
    }

    .first-box {
        margin-left: 100px;
    }

    .wrapper-1060 {
        margin-left: 100px;  
    }

    .missioncomplete {
        margin-left: 100px;
    }

    .table {
        margin-left: 100px;
    }

    .section1 {
        margin-left: 100px;
    }

    .flex-thingo {
        padding-left: 100px;
    }

    .footer {
        margin-left: 100px;
    }

    /* review page */

    .flex-container-1337 {
        margin-left: 100px;
    }

    .wrappituss {
        margin-left: 100px;
    }


}

@media only screen and (max-width: 1435px) {

  /* Landing page */

    .flex-container-top {
        margin-left: 40px;
    }

    .first-box {
        margin-left: 40px;
    }

    .missioncomplete {
        margin-left: 40px;
    }

    .wrapper-1060 {
        margin-left: 40px;  
    }
    .table {
        margin-left: 40px;
    }

    .section1 {
        margin-left: 40px;
    }

    .flex-thingo {
        padding-left: 40px;
    }

    .footer {
        margin-left: 40px;
    }

     /* review page */

     .flex-container-1337 {
        margin-left: 40px;
    }

    .wrappituss {
        margin-left: 40px;
    }

  }  

  @media only screen and (max-width: 1370px) {

  /* Landing page */

    .sidething, .flexcontainer, .item1 {
        width: 230px;
    }

    .first-box {
        margin-left: 30px;
    }

    .wrapper-1060 {
        margin-left: 30px;  
    }

    .section1 {
        margin-left: 30px;
    }

    .missioncomplete {
        margin-left: 30px;
    }

    .flex-thingo {
        padding-left: 30px;
    }

    .footer {
        margin-left: 30px;
    }

      /* review page */

    .flex-container-1337 {
        margin-left: 30px;
    }

    .wrappituss {
        margin-left: 40px;
    }

}
    
  @media only screen and (max-width: 1300px) {

  /* Landing page */

    .sidething {
        display: none;
    }

    .flex-container-top {
        margin-left: 50px;
    }

    .first-box {
        margin-left: 50px;
    }

    .headline5 {
        margin-bottom: 40px;
    }

    .table {
        margin: 0 auto;
    }
  
    .missioncomplete {
        margin: 0 auto;
    }

    .flexcontainer {
        display: none;
    }

    .wrapper-around-main-boxes {
        align-items: center;
    }

    .first-box {
        margin-left: 0px;
    }

    .wrapper-1060 {
        justify-content: center;
        margin-left: 0px;
    }

    .flex-container-top {
        margin-left: auto;
        margin-right: auto;
    }

    .section1 {
        margin-left: 0px;
        justify-content: center;
    }

    .wrappituss {
        margin-left: 0px;
    }
   
    .flex-thingo {
        justify-content: center;
    }

    .footer-wrapper {
        justify-content: center;
    }

    .footer {
        margin-left: 20px;
    }

       /* review page */

    .flex-container-1337 {
    margin-left: 0px;
    justify-content: center;
    }

    .aside-review-thing {
        display: none;
    }

    .wrappituss {
        justify-content: center;
    }

}
 
  
  @media all and (max-width: 1122px) {
   

    .flex1337 {
        display: grid;
        grid-template-columns: 1fr 20px 1fr;
        grid-template-rows: 300px 250px 20px 1fr;
        grid-template-areas: "en en en"
                             "fire . fem" 
                             ". . ."
                             "tre . to" 
                             "syv . to" ;
      }

      .stats2, .stats {
          width: 360px;
      }

      .stats2 {
          height: 235px;
      }

      .stats-hidden {
          display: flex;
          justify-content: center;
          align-items: center;
          grid-area: syv;
      }

      .stats5 {
          margin: 0px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      .textyz2 {
         width: auto;
      }

      /*review site */

      .textyz {
          width: 740px;
      }

      .missioncomplete {
        width: 740px;
    }

      .boxy2 {
          border: none;
      }

      .think {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    

    }



  @media only screen and (max-width: 1035px) {
    
     /* Landing page */

    .first-box {
    grid-template-areas: "test test"
                         "one two"
                         "three four"
                         "zero zero";
    }

    #Layer_1 {
        width: 80%;
    }

    .first-box {
        width: 80%;
        margin-left: 0px;
    }

    .chamber-one, .chamber-two, .chamber-three, .chamber-four {
        width: auto;
        border: solid lightgray 1px;
    }

    .flexbox-three {
        display: none;
    }

    .flexbox-dos {
        margin: 0 auto;
    }

    .flex-container-top {
        grid-template-areas: "one"
                             "two";
        width: auto;
    }

    .footer-element-2 {
        justify-content: center;
    }

    .wrapper-text-thing {
        text-align: center ;
    }

    .texe, .textyz2 {
        height: auto;
        margin-left: 20px;
        margin-right: 20px;
    }

    .color-head {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

  

    .text-mes {
        margin-bottom: 20px;
        }

    .main-headline {
        text-align: center;
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 20px
    }

    .boxy1 {
        border-right: none;
    }
  
    .under-main-headline {
        text-align: center;
        margin-right: 40px;
        margin-left: 40px;
    }

    .think2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 20px 1fr;
        justify-items: center;
        grid-template-areas: "en"
                             "."
                             "to";
      
    }

    .wrapper-1060 {
        margin-left: 0px;
    }

    .navigation-wrapper {
        display: none;
    }

    .table {
        width: 800px;
    }

    .textyz2 {
      padding: 0px;
     }

     .flex-thingo {
         display: none;
     }

 /*review site */

 

}

@media only screen and (max-width: 830px) {
    .table {
        width: 600px;
    }

/*review site */  

.stats5 {
    width: 300px;
}

.missioncomplete {
    width: 300px;
}

.hey {
    width: 300px;
}

.textyz {
    padding-right: 0px;
    width: 300px;
}

.wix-container-2 {
    height: 250px;
}

.bilete {
    width: 300px;
}

.flex-container-1337 {
    width: 100%;
}

.stats2, .stats-hidden, .stats, .stats5 {
    width: 300px;
    box-shadow: none;
    border: solid lightgray 1px ;
}

.stats-hidden {
    height: auto;
}

.stats0 {
    display: none;
}

.wix-wax {
    width: 120px;
}

.stats5, .wix-container-2 {
    height: 180px;
}

.buttoni {
    margin-top: -25px ;
}

.flex1337 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 160px 180px 10px auto 10px;
    grid-template-areas: "en"
                         "fem"
                         ". " 
                         "tre"
                         ". "
                         "to" 
                         "syv";
  }


}


@media only screen and (max-width: 700px) {
    
  /* Landing page */

    * {
        font-size: 15px;
    }

    .chamber-one, .chamber-two, .chamber-three, .chamber-four {
        height: 200px;
    }

    .keyfacts, .fill {
        display: none;
    }

    .abso {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        font-size: 2rem;
    }

    .photoshop {
        margin-bottom: -90px;
    }

    .colore {
        display: none;
    }
    
    .logobox-header {
        font-size: 18px;
    }

    .footer-wrapper {
        height: auto;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "one"
                             "two"
                            "three"
                            "four";
        width: 1000px;
       
        margin: 50px 20px 20px 20px;
    }

    .footer-element-3, .footer-element-2 {
        width: 300px;
        justify-content: flex-start;
        margin-top: 50px;
    }

    .footer-element-4 {
        margin-top: 20px;
        margin-bottom: 100px;
    }

    .img2 {
        width: 32%;
    }

    .logothing {
        width: 45px;
    }

    .first-box {
        grid-template-areas: "test"
                         "one"
                         "three"
                          "two"
                         "four"
                         "zero";

        }




        .flex-container-top {
            height: auto;
            grid-template-columns: 1fr;
            grid-template-rows: 150px 1fr;
            grid-template-areas: "one"
                                "three";
        }

       #Layer_1 {
           display: none;
       }

        .flexbox-dos {
            display: none;
        }

        .under-main-headline {
            margin-right: 30px;
            margin-left: 30px;
        }

        .test {
            display: none;
        }

        .flexbox-three {
            display: flex;
            width: auto;
        }

        .top-bilde {
            width: 300px;
            border-left: none;
        }

        .main-headline {
            font-size: 35px;
            margin-top: 0px;
        }

        .size {
            font-size: 30px;
        }
        
        .wrapper-around-main-boxes {
            margin-top:0px;
            margin-bottom: -30px;
        }

        .under-main-headline {
            margin-top: 5px;
        }

        .table {
            width: 500px;
        }

        .think2 {
            grid-template-rows: auto 20px auto;
           
        }

        .section1 {
            margin-top: 20px;
        }

        .take-it {
            font-size: 1.5rem;
        }

        .headline5 {
            margin-top: 20px;
        }
        
}

@media all and (max-width: 670px) {
    
    


        .table {
            width: 90%;
        }
    }

@media only screen and (max-width: 400px) {

  /* Landing page */

    .flex-container-top {
        margin-top: 100px;
    }

    .header {
    margin-top: -100px;
    }

    .main-headline {
        font-size: 35px;
    }

    .flexbox-uno {
        margin-top: -100px;
    }
  
    
}
